
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');


:root {
  --main-background-color: #1F2736;
  --main-text-color: #ADC9FF;
  --primary-color: #FFF;
  --bg-color: #253548;
  --Main-Green: #58D6A9;
  --secondary-bg: #1B393C;
  --primary-bg: rgba(255, 255, 255, 0.04);
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: 'Manrope', sans-serif;
}

.custom-container{
  margin: 5%;
}

